@model dynamic

<div class="user-info" id="userInfo">
    <div class="user-circle">@Model.ShortUserName</div>
    <span>@Model.UserName</span>
    <div id="menu">
        <div class="menu-item" id="profile">Профиль</div>
        <div class="menu-item" id="logout">Выйти</div>
    </div>
</div>