body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

.authentication-container {
    color: white;
    width: 400px;
    padding: 20px;
    background-color: #2C2C2C;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(155, 155, 155, 0.1);
}

.error-message {
    color: red;
    margin-top: 10px;
}
