@page "{email}"
@model FinancialAssistant.Web.Pages.EmailAccess;
@{
    Layout = "Shared/_Authentication";
    ViewData["Title"] = "Код для подтверждения почты";
}

<div class="authentication-container">
    <h2 class="text-center">@ViewData["Title"]</h2>

    <form method="post">
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input readonly class="form-control" asp-for="Input.Email" value="@Model.Input.Email"/>
        </div>
        <div class="form-group">
            <label asp-for="Input.Code"></label>
            <input asp-for="Input.Code" maxlength="5" minlength="5" class="form-control" required placeholder="Введите код с почты"/>
            <span asp-validation-for="Input.Code"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.NewPassword"></label>
            <input asp-for="Input.NewPassword" class="form-control" required placeholder="Введите новый пароль"/>
            <span asp-validation-for="Input.NewPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.AccessNewPassword"></label>
            <input asp-for="Input.AccessNewPassword" class="form-control" required placeholder="Подтвердите новый пароль"/>
            <span asp-validation-for="Input.AccessNewPassword"></span>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Отправить данные для изменения пароля</button>
        </div>
        <div class="text-center mt-3">
            <p>
                Вспомнили пароль? <a asp-page="/Login">Войдите</a>
            </p>
        </div>
    </form>
</div>