@page
@model FinancialAssistant.Web.Pages.ForgotPasswordModel;
@{
    Layout = "Shared/_Authentication";
    ViewData["Title"] = "Восстановление пароля";
    ViewData["CssHref"] = "/css/forgotPassword.css";
}

<div class="forgot-password-container">
    <h2 class="text-center">@ViewData["Title"]</h2>

    <form method="post">
        <div class="form-group">
            <label for="Email">Электронная почта:</label>
            <input type="email" id="Email" name="Email" class="form-control" required placeholder="Введите вашу электронную почту" />
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Отправить ссылку для сброса пароля</button>
        </div>
        <div class="text-center mt-3">
            <p>
                Вспомнили пароль? <a href="/Login">Войдите</a>
            </p>
        </div>
    </form>
    <partial name="Shared/_ErrorMessage" model="@Model.ErrorMessage"/>
</div>