@page
@model FinancialAssistant.Web.Pages.LoginModel;
@{
    Layout = "Shared/_Authentication";
    ViewData["Title"] = "Вход в систему";
    ViewData["CssHref"] = "/css/login.css";
}

<div class="login-container">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <form method="post">
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" required placeholder="Введите вашу электронную почту"/>
            <span asp-validation-for="Input.Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" required placeholder="Введите ваш пароль"/>
            <span asp-validation-for="Input.Password" ></span>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
        <div class="text-center mt-3">
            <p>
                Нет аккаунта? <a asp-page="/Register">Зарегистрируйтесь</a>
            </p>
            <p>
                <a asp-page="/ForgotPassword">Забыли пароль?</a>
            </p>
        </div>
    </form>
</div>