@page
@model FinancialAssistant.Web.Pages.RegisterModel
@{
    Layout = "Shared/_Authentication";
    ViewData["Title"] = "Регистрация";
    ViewData["CssHref"] = "/css/register.css";
}

<div class="register-container">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <form method="post">
        <div class="form-group">
            <label for="Email">Электронная почта:</label>
            <input type="email" id="Email" name="Email" class="form-control" required placeholder="Введите вашу электронную почту"/>
        </div>
        <div class="form-group">
            <label for="Password">Пароль:</label>
            <input type="password" id="Password" name="Password" class="form-control" required placeholder="Введите ваш пароль"/>
        </div>
        <div class="form-group">
            <label for="ConfirmPassword">Подтверждение пароля:</label>
            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required placeholder="Подтвердите ваш пароль"/>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </div>
        <div class="text-center mt-3">
            <p>
                Уже есть аккаунт? <a href="/Login">Войдите</a>
            </p>
        </div>
    </form>
    <partial name="Shared/_ErrorMessage" model="@Model.ErrorMessage"/>
</div>