@page
@model FinancialAssistant.Web.Pages.TestModel
@{
	ViewData["Title"] = "Test";

	var tasks = new List<string>
	{
		"1 task",
		"2 task",
		"3 task"
	};
}

<ul>
	@foreach(var task in tasks)
	{
		<li>@task</li>
	}
</ul>

